* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
}

body {
  font-family: 'Avenir Next', 'Segoe UI', 'Helvetica Neue', 'Noto Sans', sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button,
input {
  font: inherit;
}
